# Ignore Python virtual environment
venv/

# Ignore data files
dataset/
train_data_BOW_features_500.pkl
dataset/tweets_DM.json

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore hidden system files
.DS_Store
